{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .product_block {
            width: 40%;
            margin-left: 10%;
            margin-top: 20px;

        }
        .product_block > img {
            width: 100%;
        }
        .dates {
            display: flex;
            justify-content: space-between;

        }
        .review_block {
            padding: 10px;
            color: darkgrey;
            background: antiquewhite;
            margin-top: 20px;
        }

    </style>
    <div class="product_block">
        <img src="/media/{{ product.image }}" alt=""/>
        <h1>{{product.title}} <br> Rate: {{ product.rate }}</h1>
        <h5>{{ product.description }}</h5>
        <div class="dates">
            <h5>{{ product.craeted_date }}</h5>
            <h5>{{ product.modified_date }}</h5>
        </div>
        <div class="reviews">
            {% for review in reviews %}
                <div class="review_block">
                    <h5>{{ review.text }}</h5>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}